workflow.json
{
  "name": "AI news summarizer workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -32
      ],
      "id": "91d0a9d2-5e0c-4d6d-8a6d-8bf959b56f60",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -16,
        -32
      ],
      "id": "f00917de-ed4a-4adf-b224-766602ef93f4",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -32
      ],
      "id": "031ab416-f15f-459b-9c2b-32b73ada2566",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        208,
        144
      ],
      "id": "41821baa-c6d9-4e0f-9edf-e57cef0406bb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/sshleifer/distilbart-cnn-12-6",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "contentType": "=json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=inputs",
              "value": "={{ $node[\"Loop Over Items\"].json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -112
      ],
      "id": "f0c6433f-6a1d-4863-a4eb-0f0796515aff",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "pOvWl2sTnnVV5bdU",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "WqkhyS50D2pePmYO",
          "name": "Header Auth account"
        },
        "huggingFaceApi": {
          "id": "M8CgfBZLhPSt4Hv3",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pdruFeE4bn3v3GCJ0nhcWgZRzVMzKEiefmAU0EO7xyk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdruFeE4bn3v3GCJ0nhcWgZRzVMzKEiefmAU0EO7xyk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Loop Over Items').item.json.title }}",
            "Link": "={{ $('Loop Over Items').item.json.link }}",
            "Summary": "={{ $json.summary_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -48
      ],
      "id": "31a99e49-69ef-4ef1-8173-cfb0519171de",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xn35cNofA0g85S6G",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d1fbf5c-d1ae-4552-9761-71490440211d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6db3b64fbd0846e5afa1349a1678d3fcdf837b052f46e658c5348ad8f40a0ec0"
  },
  "id": "xvhjroT1zNR5gQ5V",
  "tags": []
}